body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid rgb(238, 61, 61) 5px;
  margin: 50px;
}

#top{
  margin: 30px;
}

td{
  font-size: 15px;
  padding: 0 20px 50px 20px;
  text-align: left;
}

.right{
  text-align: right;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

span{
  font-weight: 900;
  font-size: 20px;
}

span,last{
  letter-spacing: 10px;
}

#total{
  font-weight: 900;
  font-size: 50px;
  background-color: rgb(243, 148, 215);
  padding: 20px;
}



input[type=radio]{
  display: none;
}

input[type=submit]{
  width: 300px;
  margin: 35px 20px 50px 20px;
  padding: 10px 30px;
  font-size: 40px;
  background-color: rgb(250,128,114);
  text-align: center;
}

.image{
  width: 250px;
  height: 80px;
}

p{
  position: absolute;
  top: 12%;
  left: 25%;
}

.label-text{
  position: relative;
}

.last{
  background-color: rgb(243, 148, 215);
  padding: 30px;
}


/* 
td.image{
  position: absolute;
}

td.image::before{
  position: relative;
  content: 'ああ';
  display: block;
  width: 300px;
  height: 150px;
  background: url(261244.jpg) no-repeat;
  background-size: contain;

} */

